{% extends 'master.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">{{ form_title }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_name">Nom:</label>
                        {% render_field form.name|attr:"class:form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_location_room">Salle de localisation:</label>
                        {% if user.is_staff %}
                            <select class="form-control" id="id_location_room" name="location_room">
                                <option value="">-- Sélectionner --</option>
                                {% for choice_value, choice_label in form.location_room.field.choices %}
                                    <option value="{{ choice_label }}"
                                            {% if choice_label == form.location_room.value %}selected{% endif %}>
                                        {{ choice_value }}
                                    </option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <input type="text" class="form-control" id="id_location_room" name="location_room" value="Salle 001" readonly>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label for="id_owner">Responsable:</label>
                        <select class="form-control" id="id_owner" name="owner">
                            <option value="">-- Sélectionner --</option>
                            <option value="lycee" {% if not form.owner.value %}selected{% endif %}>Lycée</option>
                            {% for choice_label, choice_value in form.owner.field.choices %}
                                <option value="{{ choice_label }}"
                                        {% if choice_label == form.owner.value and choice_label != 'Lycée' %}selected{% endif %}>
                                    {{ choice_value }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_holder">Détenteur actuel:</label>
                        {% render_field form.holder|attr:"class:form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="id_accessories">Accessoires:</label>
                        {% render_field form.accessories|attr:"class:form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_from_budget">Budget utilisé:</label>
                        <select class="form-control" id="id_from_budget" name="from_budget">
                            <option value="">-- Sélectionner --</option>
                            {% for choice_value, choice_label in form.from_budget.field.choices %}
                                <option value="{{ choice_value }}"
                                        {% if choice_value == form.from_budget.value %}selected{% endif %}>
                                    {{ choice_label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_purchase_date">Date d'achat:</label>
                        {% render_field form.purchase_date|attr:"class:form-control" %}
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a class="btn btn-secondary" href="{% url 'equipment_list' %}">Retour à la liste</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
