{% extends 'master.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <h2 class="mb-4">{{ form_title }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form.old_holder.id_for_label }}">Ancien Titulaire:</label>
                        <p class="form-control-static">{{ equipment.holder }}</p>
                        <input type="hidden" id="{{ form.old_holder.id_for_label }}" name="{{ form.old_holder.html_name }}" value="{{ equipment.holder.pk }}">
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form.new_holder.id_for_label }}">Nouveau Titulaire:</label>
                        {% render_field form.new_holder|attr:"class:form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form.are_accessories_present.id_for_label }}">Accessoires Présents:</label>
                        {% render_field form.are_accessories_present|attr:"class:form-check-input" %}
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form.change_reason.id_for_label }}">Raison du Changement:</label>
                        {% render_field form.change_reason|attr:"class:form-control" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form.comment.id_for_label }}">État des accessoires</label>
                        {% render_field form.comment|attr:"class:form-control" %}
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="{{ form.location.id_for_label }}">Emplacement:</label>
                        {% render_field form.location|attr:"class:form-control" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Effectuer la Passation</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
