{% extends 'master.html' %}
{% load custom_filters %}

{% block title %}Liste des Équipements{% endblock %}

{% block content %}
    <h2 class="mb-4">Liste des Équipements</h2>

    <form method="get" class="form-inline mb-3">
        <div class="row">
            <div class="col">
                <div class="form-group mr-2">
                    <label for="filter_by" class="mr-2">Filtrer par :</label>
                    <select name="filter_by" id="filter_by" class="form-control">
                        <option value="">-- Sélectionner --</option>
                        <option value="holder" {% if selected_filter == "holder" %}selected{% endif %}>Holder</option>
                        <option value="owner" {% if selected_filter == "owner" %}selected{% endif %}>Owner</option>
                        <option value="budget" {% if selected_filter == "budget" %}selected{% endif %}>Budget</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <!-- Valeur de Filtrage -->
                <div class="form-group mr-2">
                    <label for="filter_value" class="mr-2">Valeur :</label>
                    <select name="filter_value" id="filter_value" class="form-control">
                        <option value="">-- Sélectionner --</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <!-- Tri -->
                <div class="form-group mr-2">
                    <label for="order_by" class="mr-2">Trier par :</label>
                    <select name="order_by" id="order_by" class="form-control">
                        <option value="">-- Sélectionner --</option>
                        <option value="name" {% if selected_order == "name" %}selected{% endif %}>Nom</option>
                        <option value="location_room" {% if selected_order == "location_room" %}selected{% endif %}>
                            Salle
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group mr-2">
                    <button type="submit" class="btn btn-primary">Appliquer</button>
                </div>
            </div>
        </div>
        <!-- Filtrage -->
    </form>

    <h3>Equipement loué</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Salle</th>
                <th>Propriétaire</th>
                <th>Détenteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for equipment in rented_equipments %}
                <tr>
                    <td><a href="{% url 'equipment_detail' equipment.pk %}">{{ equipment.name }}</a></td>
                    <td>{{ equipment.get_location_room_value }}</td>
                    <td>{% if equipment.owner %}{{ equipment.owner }}{% else %}Lycée{% endif %}</td>
                    <td>{{ equipment.holder }}</td>
                    <td>
                        {% if equipment.holder == user %}
                            <a href="{% url 'return_to_storage' equipment.id %}" class="btn btn-danger">Retour au
                                stockage</a>
                            <a href="{% url 'equipment_transfer' equipment.pk %}"
                               class="btn btn-sm btn-primary">Transférer</a>
                        {% endif %}
                        <a href="{% url 'equipment_update' equipment.pk %}"
                           class="btn btn-sm btn-secondary">Modifier</a>
                        <a href="{% url 'equipment_detail' equipment.pk %}" class="btn btn-sm btn-info">Détails</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h3>Equipement au stockage</h3>
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Salle</th>
                <th>Propriétaire</th>
                <th>Détenteur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for equipment in non_rented_equipments %}
                <tr>
                    <td><a href="{% url 'equipment_detail' equipment.pk %}">{{ equipment.name }}</a></td>
                    <td>{{ equipment.get_location_room_value }}</td>
                    <td>{% if equipment.owner %}{{ equipment.owner }}{% else %}Lycée{% endif %}</td>
                    <td>{% if equipment.holder %}{{ equipment.holder }}{% else %}Stockage
                        <form method="post" action="{% url 'retrieve_equipment' equipment.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Récupérer</button>
                        </form>
                    {% endif %}</td>

                    <td>
                        {% if equipment.holder == user %}
                            <a href="{% url 'return_to_storage' equipment.id %}" class="btn btn-danger">Retour au
                                stockage</a>
                            <a href="{% url 'equipment_transfer' equipment.pk %}"
                               class="btn btn-sm btn-primary">Transférer</a>
                        {% endif %}
                        <a href="{% url 'equipment_update' equipment.pk %}"
                           class="btn btn-sm btn-secondary">Modifier</a>
                        <a href="{% url 'equipment_detail' equipment.pk %}" class="btn btn-sm btn-info">Détails</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <a class="btn btn-primary mt-3" href="{% url 'equipment_create' %}">Créer un Nouvel Équipement</a>
    <script>
        const BudgetChoices = {
            CURRENT_YEAR: "Budget de l’année courante",
            PROJECTS: "Budget projet",
            EXCEPTIONAL_FUNDING: "Budget financement exceptionnel"
        };

        function updateFilterValues(selectedFilter) {

            const filterValueSelect = document.getElementById('filter_value');
            filterValueSelect.innerHTML = '<option value="">-- Sélectionner --</option>';

            const allHolders = {{ all_holders|safe }};
            const allOwners = {{ all_owners|safe }};
            const allBudgets = {{ all_budgets|safe }};

            const idToNameMap = {
            {% for teacher_id, teacher_name in teacher_id_to_name.items %}
                {{ teacher_id }}: "{{ teacher_name }}",
            {% endfor %}
        }
            ;

            if (selectedFilter === 'holder') {
                allHolders.forEach(holderId => {
                    const option = document.createElement('option');
                    option.value = holderId;
                    option.textContent = idToNameMap[holderId];
                    filterValueSelect.appendChild(option);
                });
            } else if (selectedFilter === 'owner') {
                allOwners.forEach(ownerId => {
                    const option = document.createElement('option');
                    option.value = ownerId;
                    option.textContent = idToNameMap[ownerId];
                    filterValueSelect.appendChild(option);
                });
            } else if (selectedFilter === 'budget') {
                Object.entries(BudgetChoices).forEach(([value, label]) => {
                    const option = document.createElement('option');
                    option.value = value;
                    option.textContent = label;
                    filterValueSelect.appendChild(option);
                });
            }

            // Set the selected value from the URL parameter
            const urlParams = new URLSearchParams(window.location.search);
            const selectedValue = urlParams.get('filter_value');
            if (selectedValue) {
                filterValueSelect.value = selectedValue;
            }
        }

        const filterBySelect = document.getElementById('filter_by');
        filterBySelect.addEventListener('change', (event) => {
            updateFilterValues(event.target.value);
        });

        const initialSelectedFilter = '{{ selected_filter }}';
        updateFilterValues(initialSelectedFilter);
    </script>





{% endblock %}
