{% extends 'master.html' %}

{% block content %}
  <h2 class="mb-4">Détails de l'équipement {{ equipment.name }}</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ equipment.name }}</h5>
      <p class="card-text"><strong>Salle :</strong> {{ equipment.location_room }}</p>
      <p class="card-text"><strong>Responsable :</strong> {{ equipment.owner }}</p>
      <p class="card-text"><strong>Possesseur :</strong> {{ equipment.holder }}</p>
      <p class="card-text"><strong>Accessoires :</strong>
        {% for accessory in equipment.accessories.all %}
          <a href="{% url 'accessory_detail' accessory.pk %}" class="btn btn-link">{{ accessory.name }}</a>
        {% endfor %}
      </p>
      <a class="btn btn-primary" href="{% url 'equipment_update' equipment.pk %}">Modifier</a>
      <a class="btn btn-danger" href="{% url 'equipment_delete' equipment.pk %}">Supprimer</a>
      <a class="btn btn-secondary" href="{% url 'equipment_list' %}">Retour à la liste</a>
    </div>
  </div>
{% endblock %}
