{% extends 'master.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="container col-md-6">
    <h2 class="mb-4">Connexion</h2>
    <form method="post" class="form-floating">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="name@example.com">
            <label for="{{ form.username.id_for_label }}">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="Mot de passe">
            <label for="{{ form.password.id_for_label }}">Mot de passe</label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Connexion</button>
        </div>
    </form>
</div>
{% endblock %}
