{% extends 'master.html' %}

{% block title %}{% if action == 'Créer' %}Créer un{% else %}Modifier{% endif %} Enseignant{% endblock %}

{% block content %}
  <h2>{% if action == 'Créer' %}Créer un{% else %}Modifier{% endif %} Enseignant</h2>
  <form method="post" class="form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.civility.label_tag }}
      {{ form.civility }}
    </div>
    <div class="form-group">
      {{ form.first_name.label_tag }}
      {{ form.first_name }}
    </div>
    <div class="form-group">
      {{ form.last_name.label_tag }}
      {{ form.last_name }}
    </div>
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
  <a href="{% url 'teacher_list' %}" class="btn btn-secondary">Retour à la Liste</a>
{% endblock %}

