{% extends 'master.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{{ form_title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_name">Nom:</label>
                    {% render_field form.name|attr:"class:form-control" %}
                </div>
                <div class="form-group">
                    <label for="id_equipment">Équipement:</label>
                    {% render_field form.equipment|attr:"class:form-control" %}
                </div>
                <div class="form-group">
                    <label for="id_condition">Condition:</label>
                    {% render_field form.condition|attr:"class:form-control" %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="id_comment">Commentaire:</label>
                    {% render_field form.comment|attr:"class:form-control" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a class="btn btn-secondary" href="{% url 'accessory_list' %}">Retour à la Liste</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
